.header {
    border-bottom: 10px solid;
    border-image-source: repeating-linear-gradient(to right, #4A0079 0%, #4A0079 20%, #FF8808, #FF0871);

    border-image-slice: 1;
    padding: 10px;
    padding-bottom: 0;
    &__container {
        &--nav {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            .nav__logo {
                img {
                    height: 100%;
                    max-height: 167px;
                }
            }
            .nav__menu {
                a {
                    text-decoration: none;
                    color: white;
                    &:last-of-type {
                        border: 2px solid;
                        border-image-source: linear-gradient(to right, #FF8808, #FF0871);
                        border-image-slice: 1;
                        padding: 10px;
                    }
                }
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 30px;
            }
        }
        &--hero {
            margin-top: 15px;
            .hero__container {
                position: relative;
                .flecha {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: -25%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &--title {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: white;
                    margin-bottom: 10px;
                    h2 {
                        font-weight: bold;
                        font-size: 32px;
                    }
                    p {
                        font-size: 18px;
                    }
                }
                &--img {
                    display: flex;
                    justify-content: center; 
                    margin-bottom: -2px; 
                    img {
                        position: relative;
                        z-index: -1;
                        bottom: -1px;
                    }
                }
            }
        }
    }
}